{%extends "base.html"%} {%load static%} {%block contenedor%}

<h2>Formulario</h2><br>
{% if DetalleFuneral.id != 0 %}
<form action="{% url 'Nuevavida:editarDetalle' DetalleFuneral.id %}" method="post">
{% else %}
<form action="{% url 'Nuevavida:agregarDetalle' %}" method="post">
{% endif %}


    {% csrf_token %}
    <input type="hidden" name="id" value="{{DetalleFuneral.id}}">
    <div id="formDetalle">
        <div class="form-group">
            <label for="fname">Cotizante:</label><br>
            <select class="form-control" onchange="traerBeneficiario()" name="idUsuario" id="idUsuario">
                <option value="0">-----------</option>
                {% if Usuario %}
                    {% for user in Usuario %}
                    
                        {% if user.id == DetalleFuneral.cedulaUsuario_id  %}
                            <option value="{{user.id}}" selected > {{user.nombre}} {{user.apellido}} - CC {{user.cedula}} - Plan: {{user.idplan.nombrePlan}} </option>
                        {% else %}
                            <option value="{{user.id}}"> {{user.nombre}} {{user.apellido}}  - CC {{user.cedula}} - Plan: {{user.idplan.nombrePlan}} </option>
                        {% endif %}
                    {% endfor %}
                {% endif %} 
            </select>
        </div><br>
        <div id="tipouser">
            <p>El usuario a ingresar es: </p>
            <div>
                <label for="lname">Cotizante:</label>
                <input type="radio" name="eleccion" id="tipo" onclick="selectradio()"><br><br>

                <label for="lname">Beneficiario:</label>
                <input type="radio" name="eleccion" id="beneficiario" onclick="selectradio()"><br><br>
            </div>
        </div>
        <div class="form-group" id="cedulaBeneficiario" value="{{DetalleFuneral.idbeneficiario_id}}" style="display: none;">
            <label for="fname">Beneficiario:</label><br>

            <select class="form-control" name="idBeneficiario" id="idBeneficiario">
               
            </select>
        </div><br>
        <div class="form-group">
            <label for="fname">Lugar de Velacion:</label><br>
            <input class="form-control" type="text" name="lugarVelacion" value="{% if DetalleFuneral %}{{DetalleFuneral.lugarVelacion}}{% endif %}"><br>
        </div>
        <div class="form-group">
            <label for="fname">Fecha de Velacion:</label><br>
            <input class="form-control" type="date" name="fechaVelacion" id="fechaVelacion" value="{% if DetalleFuneral %}{{DetalleFuneral.fechaVelacion}}{% endif %}"><br>
        </div>
        <div class="form-group">
            <label for="fname">Lugar de Entierro:</label><br>
            <input class="form-control" type="text" name="lugarEntierro" value="{% if DetalleFuneral %}{{DetalleFuneral.lugarEntierro}}{% endif %}"><br>
        </div>
        <div class="form-group">
            <label for="fname">Fecha de Entierro:</label><br>
            <input class="form-control" type="date" name="fechaEntierro" id="fechaEntierro" value="{% if DetalleFuneral %}{{DetalleFuneral.fechaEntierro}}{% endif %}"><br>
        </div>

        <input class="btn btn-success" type="submit" value="Guardar" id="guardar">
    </div>
</form>

<script src="{% static 'js/detalle.js'%}"></script>

{% if messages %}
    
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }}</li>
        {% endfor %}
    
    <div class="alert alert- {% if message.tags %} {{ message.tags }} {% else %} dark {% endif %}" role="alert"> {{ message.tags }} </div>
{% endif %}

{%endblock%}