{%extends "base.html"%} {%load static%} {%block contenedor%}

<h2>Formulario</h2><br>
{% if DetalleFuneral.id != 0 %}
<form action="{% url 'Nuevavida:editarDetalle' DetalleFuneral.id %}" method="post">
{% else %}
<form action="{% url 'Nuevavida:agregarDetalle' %}" method="post">
{% endif %}

    {% csrf_token %}
    <input type="hidden" name="id" value="{{DetalleFuneral.id}}">
    <div id="formDetalle">
        <div class="form-group">
            <label for="fname">Cotizante:</label><br>
            <select class="form-control" onchange="validarPlan()" name="cedulaUsuario" id="cedulaUsuario">
                <option value="0">-----------</option>
                {% if Usuario %}
                    {% for user in Usuario %}
                    
                        {% if user.id == detalleFuneral.cedulaUsuario_id  %}
                            <option value="{{user.idplan_id}}" selected > {{user.nombre}} {{user.apellido}} - CC {{user.cedula}} - Plan: {{user.idplan.nombrePlan}} </option>
                        {% else %}
                            <option value="{{user.idplan_id}}"> {{user.nombre}} {{user.apellido}}  - CC {{user.cedula}} - Plan: {{user.idplan.nombrePlan}} </option>
                        {% endif %}
                    {% endfor %}
                {% endif %} 
            </select>
        </div><br>
        <div id="tipouser" style="display: none;">
            <p>El usuario a ingresar es: </p>
            <div>
                <label for="lname">Cotizante:</label>
                <input type="radio" name="eleccion" id="cotizante" onclick="verificar()"><br><br>

                <label for="lname">Beneficiario:</label>
                <input type="radio" name="eleccion" id="benefici" onclick="verificar()"><br><br>
            </div>
        </div>
        <div class="form-group" style="display: none;" id="ceduBenefi">
            <label for="fname">Beneficiario:</label><br>
            <select class="form-control" onchange="vamos()" name="idbeneficiario" id="idbeneficiario">
                <option value="0">-----------</option>
                {% if Beneficiario %}
                    {% for bene in Beneficiario %}
                    
                        {% if bene.id == detalleFuneral.idbeneficiario_id  %}
                            <option value="{{bene.cedulaUsuario_id}}" selected> {{bene.nombreBeneficiario}} {{bene.apellidoBeneficiario}} - CC {{bene.idbeneficiario}} - Cotizante: {{bene.cedulaUsuario.nombre}} {{bene.cedulaUsuario.apellido}} - CC {{bene.cedulaUsuario.cedula}}</option>
                        {% else %}
                            <option value="{{bene.cedulaUsuario_id}}"> {{bene.nombreBeneficiario}} {{bene.apellidoBeneficiario}} - CC {{bene.idbeneficiario}} - Cotizante: {{bene.cedulaUsuario.nombre}} {{bene.cedulaUsuario.apellido}} - CC {{bene.cedulaUsuario.cedula}}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %} 
            </select>
        </div><br>
        <div class="form-group">
            <label for="fname">Lugar de Velacion:</label><br>
            <input class="form-control" type="text" name="lugarVelacion" value="{% if DetalleFuneral %}{{DetalleFuneral.lugarVelacion}}{% endif %}"><br>
        </div>
        <div class="form-group">
            <label for="fname">Fecha de Velacion:</label><br>
            <input class="form-control" type="date" name="fechaVelacion" value="{% if DetalleFuneral %}{{DetalleFuneral.fechaVelacion}}{% endif %}"><br>
        </div>
        <div class="form-group">
            <label for="fname">Lugar de Entierro:</label><br>
            <input class="form-control" type="text" name="lugarEntierro" value="{% if DetalleFuneral %}{{DetalleFuneral.lugarEntierro}}{% endif %}"><br>
        </div>
        <div class="form-group">
            <label for="fname">Fecha de Entierro:</label><br>
            <input class="form-control" type="date" name="fechaEntierro" value="{% if DetalleFuneral %}{{DetalleFuneral.fechaEntierro}}{% endif %}"><br>
        </div>

        <input class="btn btn-success" type="submit" value="Guardar" id="guardar">
    </div>
</form>

<script src="{% static 'js/detalle.js'%}"></script>

{% if messages %}
    
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }}</li>
        {% endfor %}
    
    <div class="alert alert- {% if message.tags %} {{ message.tags }} {% else %} dark {% endif %}" role="alert"> {{ message.tags }} </div>
{% endif %}

{%endblock%}