{%extends "base.html"%} {%load static%} {%block contenedor%}

<h2>Formulario</h2><br>
{% if MetodoPago.id != 0 %}
<form action="{% url 'Nuevavida:editarMetodoPago' MetodoPago.id %}" method="post">
{% else %}
<form action="{% url 'Nuevavida:guardarMetodoPago' %}" method="post">
{% endif %}


    {% csrf_token %}
    <input type="hidden" name="id" value="{{MetodoPago.id}}">
    <div class="form-group">
        <label for="fname">Nombre Metodo Pago:</label><br>
        <input class="form-control" type="text" name="nombre" value="{% if MetodoPago %}{{MetodoPago.nombreMetodo}}{% endif %}"><br>
    </div>
    
    </div>
    <input class="btn btn-success" type="submit" value="guardar">
</form>


{% if messages %}
    
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }}</li>
        {% endfor %}
    
    <div class="alert alert- {% if message.tags %} {{ message.tags }} {% else %} dark {% endif %}" role="alert"> {{ message.tags }} </div>
{% endif %}

{%endblock%}