{%extends "base.html"%}
    {%load static%} 
 <!--<link rel="stylesheet" href="{% static 'css/estilo.css'%}">-->


 {%block titulo%} funeraria {%endblock%}

{%block contenedor%}

{% if messages %} 
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}dark{% endif %}" role="alert"> {{ message }} </div>
{% endfor %} {% endif %}

<body>
    <h1>Bienvenido a la funeraria nueva vida</h1>
    <div class="content-all">
    <div class="content-carrousel">
    <figure><img src="{% static 'imagenes/ataud.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/ataudrosado.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/cenizas1.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/flor.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/velacion.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/velacion2.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/mascota1.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/cementerio2.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/cementerio.jpeg'%}"></figure>
    <figure><img src="{% static 'imagenes/otroataud.jpeg'%}"></figure>
    </div>
    </div>




    

{%endblock contenedor%}
