{%extends "base.html"%}
 {%load static%} 


 {%block titulo%} funeraria {%endblock%}

{%block contenedor%}
<h1>Bienvenido a la funeraria nueva vida</h1>
{% if messages %} 
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}dark{% endif %}" role="alert"> {{ message }} </div>
{% endfor %} {% endif %}




    <p>Comuniquese con nosotros: </p><br>
    <p>Email: yazabala38@misena.edu.co</p><br>
    <p>Whatsapp: 3024346783</p>

{%endblock contenedor%}
