{%extends "base.html"%}
    {%load static%} 

    {%block contenedor%}

    
<div class="container" style="text-align: center;">
    <form method="post" action="{% url 'Nuevavida:restablecer' %}">
        {% csrf_token %}
        <h2 style="color:black" >Ingrese el correo para recuperar contraseña</h2>
        <br>
        <label for="correo" id="exampleModalLabel">Correo</label>
        <input class="form-control" id="correo" name="correo"><br>
        <input class="btn btn-info" type="submit" value="restablecer">
    </form>
</div>
  

{%endblock contenedor%}