{%extends "base.html"%} {%load static%} {%block contenedor%}

<h2>Formulario</h2><br>
{% if Usuario.id != 0 %}
<form action="{% url 'Nuevavida:editarUsuario' Usuario.id %}" method="post">
{% else %}
<form action="{% url 'Nuevavida:agregarUsuario' %}" method="post">
{% endif %}


    {% csrf_token %}
    <input type="hidden" name="id" value="{{Usuario.id}}">
    <div class="form-group">
        <label for="fname">Plan:</label><br>
        <select class="form-control" name="idPlan">
            {% if Planes %}
                {% for plan in Planes %}
                
                    {% if plan.id == Usuario.idplan_id  %}
                        <option value="{{plan.id}}" selected >{{plan.nombrePlan}}</option>
                    {% else %}
                        <option value="{{plan.id}}">{{plan.nombrePlan}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %} 
        </select>
    </div><br>
    <div class="form-group">
        <label for="fname">Nombre:</label><br>
        <input class="form-control" type="text" name="nombre" value="{% if Usuario %}{{Usuario.nombre}}{% endif %}"><br>
    </div>
    <div class="form-group">
        <label for="lname">Apellido:</label><br>
        <input class="form-control" type="text" name="apellido" value="{% if Usuario %}{{Usuario.apellido}}{% endif %}"><br>
    </div>
    <div class="form-group">
        <label ftype="number">Cedula:</label><br>
        <input class="form-control" type="text" name="cedula" value="{% if Usuario %}{{Usuario.cedula}}{% endif %}"><br>
    </div>

    <div class="form-group">
        <label ftype="number">Telefono:</label><br>
        <input class="form-control" type="text" name="telefono" value="{% if Usuario %}{{Usuario.telefono}}{% endif %}"><br>
    </div>

    <div class="form-group">
        <label for="lname">Correo:</label><br>
        <input class="form-control" type="email" name="correo" value="{% if Usuario %}{{Usuario.correo}}{% endif %}"><br>
    </div>

    <div class="form-group">
        <label for="lname">fechaNacimiento:</label><br>
        <input class="form-control" type="date" name="fechaNacimiento" value="{% if Usuario %}{{Usuario.fechaNacimiento}}{% endif %}"><br>
    </div>
    <div class="form-group">
        <label for="lname">Contraseña:</label><br>
        <input class="form-control" id="password1" onblur="verificar()" type="password" name="password" value=""><br>
    </div>
    <div class="form-group">
        <label for="lname">Verificar contraseña:</label><br>
        <input class="form-control" id="password2" type="password" onblur="verificarPassword()" name="verificar_password" value=""><br>
    </div>
    <input class="btn btn-success" id="btnSave" type="submit" value="Guardar">
    
</form>

<script src="{% static 'js/usuario.js'%}"></script>

{% if messages %}
    
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }}</li>
        {% endfor %}
    
    <div class="alert alert- {% if message.tags %} {{ message.tags }} {% else %} dark {% endif %}" role="alert"> {{ message.tags }} </div>
{% endif %}

{%endblock%}