{%extends "base.html"%} {%load static%} {%block titulo%} Beneficiario {%endblock%} {%block contenedor%}




<h1><b>Beneficiarios</b></h1>
{% if messages %} 
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}dark{% endif %}" role="alert"> {{ message }} </div>
{% endfor %} {% endif %}

<button class="btn btn-success" id="agregar"><a class="navbar-brand" href="{% url 'Nuevavida:formularioBeneficiario' 0%}">Agregar</a></button> 
{% if datos %}
<table class="table table-striped table-hover" border="2px" id="tableBeneficiario">
    <thead>
        <tr>
            <th>cedula Beneficiario</th>
            <th>nombre Beneficiario</th>
            <th>apellido Beneficiario</th>
            <th>fecha Nacimiento</th>
            <th>Nombre usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>

    {%for t in datos %}
    <tr>
       
        <td>{{t.cedulaBeneficiario}}</td>
        <td>{{t.nombreBeneficiario}}</td>
        <td>{{t.apellidoBeneficiario}}</td>
        <td>{{t.fechaNacimiento}}</td>
        <td>{{t.cedulaUsuario.nombre}}</td>
        <td><button class="btn btn-primary" id="editar"><a id="infoeditar" href="{% url 'Nuevavida:formularioBeneficiario' t.id %}">Editar</a></button>&nbsp;<button class="btn btn-danger" id="eliminar"><a id="infoeliminar" href="/Nuevavida/eliminarBeneficiario/{{t.id}}">Eliminar</a></button></td>
    </tr>


    <br/> {% endfor %}
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    var table = new DataTable('#tableBeneficiario', { 
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });

});
</script>
{% else %} no hay datos {% endif %} {%endblock contenedor%}